<div class="menu">
  {{#if session.isAuthenticated}}
    <button onclick={{action 'invalidateSession'}}>
      {{#link-to 'login'}}Logout{{/link-to}}
    </button>
  {{else}}
    {{#link-to 'login'}}Login{{/link-to}}
  {{/if}}
</div>
<div class="main">
  {{outlet}}
</div>