<div id="welcome-card">
  <h1>Welcome to the Handwriting to Text Converter!</h1>
  <ul>
    <li>An application which allows users to upload images of handwritten words and generates a Google Doc with the result.</li>
    <li>Sign in with a Gmail account via the <b>Login with Google</b> button is required.</li>
    <li>By signing in, you grant this application permission to create documents in your Google Drive.</li>
    <li>Source code for this project can be found in my <a href="https://gitlab.computing.dcu.ie/hanlonc5/2019-ca400-hanlonc5">Gitlab repository.</a></li>
  </ul>
  <!-- Getting strange bug where imagesw disappear from /assets/images
  <img src="/assets/images/ember.png">
  <img src="/assets/images/flask-python.png">
  <img src="/assets/images/opencv.png">
  <img src="/assets/images/tensorflow.png">
  <img src="/assets/images/mysql.png">-->
</div>