@import "loading.css";

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  height: 755px;
  display: flex;
  flex-flow: column;
}

.flex-container {
  height: 130px;
  width: 100%;
  background-color: white;
  display: flex;
}

.flex-middle {
  flex: 6;
}

.flex-middle img {
  height: 130px;
  width: 300px;
  margin: auto;
  display: block;
  position: relative;
}

#user-information {
  width: 200px;
  margin-right: 120px;
  display: flex;
  float: right;
  right: 0;
  position: absolute;
  flex: 1;
}

#user-information h3 {
  padding: 50px 10px 0px 10px;
}

#profile-picture {
  height: 50px;
  width: 50px;
  margin: 40px 10px 0px 10px;
  border-radius: 50%;
}

.sign-out-btn {
  height: 50px;
  margin: 40px 0px 0px 10px;
}

.sign-in-btn {
  height: 50px;
  margin: 40px 0px 0px 75px;
}

.fa-google {
  color: #4285f4;
}

.button-text {
  display: inline-block;
  vertical-align: middle;
  padding: 0px 15px 0px 15px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;

}

#main {
  height:100%;
  background: linear-gradient(to top right, #1a53ff, #b3c6ff);
  display: flex;
  flex: 2;
  overflow: auto;
}

#welcome-card {
  height: 500px;
  width: 650px;
  border-radius: 25px;
  text-align: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: white;
}

#welcome-card h1 {
  font-size: 24px;
  font-weight: bold;
}

#welcome-card ul {
  font-size: 18px;
  list-style-type: circle;
  text-align: left;
}

#welcome-card li {
  padding: 10px;
}

#welcome-card img {
  width: 80px;
  height: 80px;
  display: inline;
  margin: 10px;
}

.content-card {
  margin: 60px 25px 0px 25px;
  flex: 1;
  text-align: center;
}

.content-card h1 {
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-weight: bold;
  padding-bottom: 20px;
}

.card-icon {
  height: 250px;
  width: 250px;
  margin: 0 auto;
  background-color: white;
  border-radius: 50%;
}

.card-icon:hover {
  cursor: pointer;
}

.card-icon i {
  padding-top: 40px;
  color: #1a53ff;
  font-size: 150px;
}

#upload-box {
  background-color: white;
  border: 10px solid dimgray;
  border-radius: 10px;
  height: 400px;
  width: 750px;
  margin: auto;
  z-index: 10;
  position: absolute;
  top: 7%;
  left: 0;
  bottom: 0;
  right: 0;
}

#upload-box button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.close-button {
  float: right;
  background-color: white;
  color: dimgray;
  font-size: 30px;
  padding: 10px;
}

.drop-box {
  height: 250px;
  width: 600px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  border: 5px dashed #0059b3;
  text-align: center;
  align-content: center;
  justify-content: center;
  color: dimgray;
  font-size: 80px;
  background-color: #89cefb;
}

.drop-box i {
  padding-top: 40px;
}

.drop-box:hover {
  border: 5px dashed #003366;
  background-color: #5e97bb;
}

.imageInput {
  opacity: 0.0;
  position: absolute;
  overflow: hidden;
  left: 50%;
  height: 240px;
  width: 600px;
  margin-left: -300px;
}

#results-content {
  display: flex;
}

.results-area {
  margin: 25px;
  flex: 2;
}

textarea {
  height: 250px;
  width: 200px;
  overflow-y: scroll;
  resize: none;
}

#save-box {
  margin: 25px;
  flex: 1
}

.filename {
  width: 240px;
}

#created-docs {
  width: 650px;
  max-height: 330px;
  overflow-y: auto;
  margin: 20px 0px 20px 30px;
}

.document-card-even, .document-card-odd {
  width: 100%;
  height: 60px;
  margin: 7px 0px 7px 0px;
  padding: 10px;
  display: flex;
}

#created-docs p {
  display: inline;
  flex: 1;
  margin-top: 5px;
}

#created-docs h4 {
  text-align: center;
  display: inline;
  flex: 1;
  margin-top: 5px;
}

.document-card-even {
  background: #a4cafe;
}

.document-card-odd {
  background: #a4dbfe;
}

.share-btn {
  flex: 1;
}

.share-btn i {
  display: inline;
  float: right;
  color: white;
  background-color: #1a53ff;
  font-size: 19px;
  padding: 10px;
  border-radius: 50%;
}

.share-btn i:hover {
  background-color: white;
  color: #1a53ff;
}

#no-docs {
  width: 650px;
  height: 330px;
  margin: auto;
}

#no-docs > * {
  display: block;
  text-align: center;
  margin: auto;
}

#no-docs img {
  height: 200px;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#share-docs {
  width: 550px;
  max-height: 330px;
  margin: 20px 0px 20px 80px;
  text-align: center;
}

#share-docs h5 {
  margin-top: 20px;
  margin-bottom: 15px;
}

#permissions {
  margin: 35px 0px 25px 0px;
}

.permission-button {
  position: absolute;
  left: -9999em;
  top: -9999em;
}

.permission-button + label {
  margin: 0px 5px 0px 5px;
  padding: .5em 1em;
  cursor: pointer;
  border: 1px solid #1a53ff;
  border-radius: 5px;
  font-size: 20px;
  color: #1a53ff;
  background-color: white;
}

.permission-button:checked + label {
  color: white;
  background-color: #1a53ff;
}
