<div class="flex-container">
  <div class="flex-middle">
    <img alt="Logo" src="/assets/images/logo.png">
  </div>
  <div id="user-information">
    {{#if session.isAuthenticated}}
      <h3 style="margin-left: 60px">{{user.forename}}</h3>
      <button class="sign-out-btn btn btn-outline-primary" onclick={{action "invalidateSession"}}>
        <i class="fa fa-google"></i>
        <span class="button-text">Logout</span>
      </button>
    {{else}}
      <button class="sign-in-btn btn btn-outline-success" onclick={{action "authenticate"}}>
        <i class="fa fa-google"></i>
        <span class="button-text">Login with Google</span>
      </button>
    {{/if}}
  </div>
</div>
