*.idea/
*/venv/
backend/config.cfg
backend/credentials.json
backend/quickstart.py
backend/tmp-images
backend/__pycache__
backend/model/data/
backend/model/logs/
backend/model/__pycache__
backend/model/venv/
