*.idea/
*/venv/
backend/config.cfg
backend/credentials.json
backend/quickstart.py
backend/tmp-images
backend/__pycache__
model/data/
model/logs/
model/snapshot/
model/ModelTensor.py
model/CTCWordBeamSearch/
model/__pycache__
